body {
  margin: 0;
  padding: 0;
  background-image: url('./blog2.avif');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #19a551; Set your desired dark background color */
  color: #fff; /* Set your desired text color */
  font-family: 'Arial', sans-serif; /* Set your desired font */
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Add any other global styles as needed */

/* Add these styles to your footer component or a dedicated stylesheet */

.custom-text-color {
  color: black; /* Replace with your desired color */
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #6c5eeb;
  padding: 10px;
  text-align: center;
  /* Add any additional styles you want for your footer */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
